In [2]:
'''pandas.DataFrame( data, index, columns, dtype, copy)'''

import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [3]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [8]:
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [9]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [10]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [11]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [12]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [13]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [22]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df['three']=pd.Series([10,10,10]) #without index output will be nan for derived attribute
df['four']=df['one']+df['three']
print(df)

   one  two  three  four
a  1.0    1    NaN   NaN
b  2.0    2    NaN   NaN
c  3.0    3    NaN   NaN
d  NaN    4    NaN   NaN

In [23]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df['three']=pd.Series([10,10,10],index=['a', 'b', 'c'])
df['four']=df['one']+df['three']
print(df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   10.0  12.0
c  3.0    3   10.0  13.0
d  NaN    4    NaN   NaN

In [24]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  1.0   10.0    1
b  2.0   20.0    2
c  3.0   30.0    3
d  NaN    NaN    4

In [25]:
del df['one']
print(df)

   three  two
a   10.0    1
b   20.0    2
c   30.0    3
d    NaN    4

In [37]:
#ROW SELECTION
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print(df.loc['d']) #Selection by Label

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    NaN
two    4.0
Name: d, dtype: float64

In [38]:
print (df.iloc[2]) #Selection by integer location

one    3.0
two    3.0
Name: c, dtype: float64

In [39]:
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [40]:

df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [41]:
df=df.drop(0)
print(df)

   a  b
1  3  4
1  7  8