In [16]:
import pandas as pd
import numpy as np

s=pd.Series(np.random.randn(4),np.random.randn(4),dtype=int)
print(s)

 0.741539   -1
 0.788029    1
 3.196436   -1
-0.239668    0
dtype: int32

In [17]:
'''axes
Returns the list of the labels of the series.'''
s.axes

[Float64Index([0.74153872998, 0.78802939233, 3.1964364719, -0.239667987366], dtype='float64')]

In [9]:
'''empty
Returns the Boolean value saying whether the Object is empty or not. True indicates that the object is empty.'''
print(s.empty)
print(s.ndim)
print(s.size)

False
1
4

In [10]:
'''values
Returns the actual data in the series as an array.'''

print(s.values)

[-1 -1  0  0]

In [14]:
print(s.head(3))

0   -1
1   -1
2    0
dtype: int32

In [12]:
print(s.tail(1))

3    0
dtype: int32

In [18]:
print(s.T)

 0.741539   -1
 0.788029    1
 3.196436   -1
-0.239668    0
dtype: int32

In [19]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80

In [23]:
print(df.T)

           0      1      2     3      4      5     6
Age       25     26     25    23     30     29    23
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [22]:
chk=pd.DataFrame(df.T,columns=[11,12,13,14,15,16,17])
chk

        11  12  13  14  15  16  17
Age    NaN NaN NaN NaN NaN NaN NaN
Name   NaN NaN NaN NaN NaN NaN NaN
Rating NaN NaN NaN NaN NaN NaN NaN

In [24]:
df.axes

[RangeIndex(start=0, stop=7, step=1),
 Index(['Age', 'Name', 'Rating'], dtype='object')]

In [25]:
df.dtypes

Age         int64
Name       object
Rating    float64
dtype: object

In [26]:
chk.empty

False

In [27]:
df.ndim

2

In [28]:
df.shape

(7, 3)

In [29]:
df.size

21

In [30]:
df.values

array([[25, 'Tom', 4.23],
       [26, 'James', 3.24],
       [25, 'Ricky', 3.98],
       [23, 'Vin', 2.56],
       [30, 'Steve', 3.2],
       [29, 'Smith', 4.6],
       [23, 'Jack', 3.8]], dtype=object)

In [31]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Smith    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65

In [32]:
'''sum()
Returns the sum of the values for the requested axis. By default, 
axis is index (axis=0).“index” (axis=0, default), “columns” (axis=1)'''


print(df.sum())

Age                                                     382
Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Rating                                                44.92
dtype: object

In [34]:
print(df.sum(axis=1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [35]:
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [36]:
print(df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [42]:
df.describe

<bound method NDFrame.describe of     Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Smith    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65>

In [43]:
'''object − Summarizes String columns
number − Summarizes Numeric columns
all − Summarizes all columns together (Should not pass it as a list value)'''
df.describe(include=['object'])

         Name
count      12
unique     12
top     James
freq        1

In [44]:
df.describe(include=['number'])

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [46]:
print (df. describe(include='all'))

              Age   Name     Rating
count   12.000000     12  12.000000
unique        NaN     12        NaN
top           NaN  James        NaN
freq          NaN      1        NaN
mean    31.833333    NaN   3.743333
std      9.232682    NaN   0.661628
min     23.000000    NaN   2.560000
25%     25.000000    NaN   3.230000
50%     29.500000    NaN   3.790000
75%     35.500000    NaN   4.132500
max     51.000000    NaN   4.800000

In [48]:
'''Table wise Function Application: pipe()
Row or Column Wise Function Application: apply()
Element wise Function Application: applymap()'''
def adder(ele1,ele2):
    return ele1+ele2

In [50]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0 -0.835135  0.207172  0.553257
1 -0.757083  0.106069  0.562056
2  2.269385 -0.717422  0.670034
3 -2.044055  0.398703 -0.246737
4  0.483466 -0.359403 -0.415037

In [56]:
df.pipe(adder,2)

       col1      col2      col3
0  1.164865  2.207172  2.553257
1  1.242917  2.106069  2.562056
2  4.269385  1.282578  2.670034
3 -0.044055  2.398703  1.753263
4  2.483466  1.640597  1.584963

In [60]:
print (df.apply(np.mean))

col1   -0.176684
col2   -0.072976
col3    0.224714
dtype: float64

In [61]:
print (df.apply(np.mean,axis=1))

0   -0.024902
1   -0.029652
2    0.740666
3   -0.630696
4   -0.096991
dtype: float64

In [63]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df1=df.apply(lambda x: x.max() - x.min())
print(df1)
df.apply(lambda x: x.max() - x.min())
print( df.apply(np.mean))

col1    0.306940
col2    2.119082
col3    2.326592
dtype: float64
col1    0.773437
col2    0.808243
col3    0.278365
dtype: float64

In [67]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
# My custom function
df['col1'].map(lambda x:x*100)
print(df.apply(np.mean))

       col1      col2      col3
0  0.064078 -0.500748 -0.295111
1 -0.142620  0.335616 -1.037882
2 -0.127051 -0.198522  0.362999
3 -0.810487 -0.533654  0.630688
4 -0.596768 -0.586471 -2.398981
col1   -0.322570
col2   -0.296756
col3   -0.547657
dtype: float64