In [1]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])
print(df)
print (df_reindexed)

            A       C           D     x         y
0  2016-01-01  Medium  119.929088   0.0  0.271081
1  2016-01-02  Medium  104.335212   1.0  0.395507
2  2016-01-03  Medium   97.343847   2.0  0.738279
3  2016-01-04    High   98.142130   3.0  0.006719
4  2016-01-05    High  117.164329   4.0  0.545961
5  2016-01-06    High  110.716844   5.0  0.143983
6  2016-01-07    High   89.034195   6.0  0.186058
7  2016-01-08     Low  105.546204   7.0  0.686139
8  2016-01-09    High   97.422437   8.0  0.587370
9  2016-01-10    High  116.710949   9.0  0.491377
10 2016-01-11    High   96.710019  10.0  0.331327
11 2016-01-12     Low  112.577342  11.0  0.540541
12 2016-01-13  Medium   81.287191  12.0  0.001587
13 2016-01-14     Low  116.077929  13.0  0.213480
14 2016-01-15  Medium  124.244756  14.0  0.314636
15 2016-01-16  Medium  113.209748  15.0  0.124419
16 2016-01-17  Medium  118.188571  16.0  0.194151
17 2016-01-18    High   84.059354  17.0  0.643194
18 2016-01-19    High  102.596763  18.0  0.748022
19 2016-01-20    High   98.851156  19.0  0.050351
           A       C   B
0 2016-01-01  Medium NaN
2 2016-01-03  Medium NaN
5 2016-01-06    High NaN

In [5]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
print(df1)
print(df2)
df1 = df1.reindex_like(df2)
print (df1)

'''Note − Here, the df1 DataFrame is altered and reindexed like df2. 
The column names should be matched or else NAN will be added for the entire column label.'''

       col1      col2      col3
0 -0.026382 -0.390049  0.187477
1 -1.086444 -0.558319  1.576085
2 -0.629586 -0.763390 -0.956858
3 -0.012301  0.342245 -1.142816
4  0.387775  0.787473 -0.678755
5 -1.903438  0.646369 -1.158272
6  1.062250  2.028207 -1.114161
7 -0.223860 -0.286009  0.096541
8 -0.990578 -1.410339 -0.377615
9  1.043802 -1.220666 -0.162378
       col1      col2      col3
0  1.527445 -0.090855 -0.512165
1  0.989729 -1.093395  0.213370
2 -0.848678  0.386882  0.637086
3  0.524560 -0.706909 -0.108877
4  1.272620  1.653483  0.225613
5 -0.638906 -2.751579 -0.684440
6 -0.520678 -0.692653  0.090575
       col1      col2      col3
0 -0.026382 -0.390049  0.187477
1 -1.086444 -0.558319  1.576085
2 -0.629586 -0.763390 -0.956858
3 -0.012301  0.342245 -1.142816
4  0.387775  0.787473 -0.678755
5 -1.903438  0.646369 -1.158272
6  1.062250  2.028207 -1.114161

In [6]:
'''Filling while ReIndexing
reindex() takes an optional parameter method which is a filling method with values as follows −

pad/ffill − Fill values forward

bfill/backfill − Fill values backward

nearest − Fill from the nearest index values'''

'Filling while ReIndexing\nreindex() takes an optional parameter method which is a filling method with values as follows −\n\npad/ffill − Fill values forward\n\nbfill/backfill − Fill values backward\n\nnearest − Fill from the nearest index values'

In [8]:
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

print(df2.reindex_like(df1))
print(df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0  0.485643  2.150910  0.651166
1 -0.616606 -0.329111 -0.967868
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
       col1      col2      col3
0  0.485643  2.150910  0.651166
1 -0.616606 -0.329111 -0.967868
2 -0.616606 -0.329111 -0.967868
3 -0.616606 -0.329111 -0.967868
4 -0.616606 -0.329111 -0.967868
5 -0.616606 -0.329111 -0.967868

In [10]:
print(df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0  0.485643  2.150910  0.651166
1 -0.616606 -0.329111 -0.967868
2 -0.616606 -0.329111 -0.967868
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

In [16]:
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'apple', 1 : 'banana', 2 : 'durian'},inplace=True))

None

In [17]:
df1

              c1        c2      col3
apple  -0.768408 -0.711412  0.326652
banana -0.597727 -0.375827 -0.476562
durian  1.193870  1.608003 -0.338956
3       0.156728  1.751662  0.744309
4      -0.967029  2.041186 -0.221064
5      -1.046594 -0.114266 -1.548652

In [18]:
'''Iterating a DataFrame gives column names. Let us consider the following example to understand the same.'''
N=20

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    })

for col in df:
    print(col)

A
C
D
x
y

In [20]:
'''iteritems() − to iterate over the (key,value) pairs

iterrows() − iterate over the rows as (index,series) pairs

itertuples() − iterate over the rows as namedtuples'''

'iteritems() − to iterate over the (key,value) pairs\n\niterrows() − iterate over the rows as (index,series) pairs\n\nitertuples() − iterate over the rows as namedtuples'

In [21]:
for key,value in df.iteritems():
    print(key,value)

A 0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
Name: A, dtype: datetime64[ns]
C 0       High
1        Low
2        Low
3        Low
4        Low
5     Medium
6        Low
7       High
8        Low
9     Medium
10       Low
11      High
12       Low
13      High
14    Medium
15      High
16      High
17    Medium
18       Low
19       Low
Name: C, dtype: object
D 0      95.165779
1     124.031582
2      87.219724
3      84.685316
4     121.989813
5      83.960532
6      94.098654
7     104.825683
8      97.288628
9      92.295275
10     96.293873
11     93.918843
12    100.489264
13    109.010124
14    104.341168
15    108.269690
16     89.851644
17     71.852701
18    116.269071
19    100.491242
Name: D, dtype: float64
x 0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
Name: x, dtype: float64
y 0     0.084521
1     0.039899
2     0.514788
3     0.886765
4     0.050973
5     0.945622
6     0.452240
7     0.665492
8     0.799171
9     0.902278
10    0.091342
11    0.484243
12    0.393246
13    0.434667
14    0.234245
15    0.828637
16    0.529580
17    0.604545
18    0.185068
19    0.925845
Name: y, dtype: float64

In [22]:
for row_index,row in df.iterrows():
   print (row_index,row)

0 A    2016-01-01 00:00:00
C                   High
D                95.1658
x                      0
y              0.0845213
Name: 0, dtype: object
1 A    2016-01-02 00:00:00
C                    Low
D                124.032
x                      1
y              0.0398987
Name: 1, dtype: object
2 A    2016-01-03 00:00:00
C                    Low
D                87.2197
x                      2
y               0.514788
Name: 2, dtype: object
3 A    2016-01-04 00:00:00
C                    Low
D                84.6853
x                      3
y               0.886765
Name: 3, dtype: object
4 A    2016-01-05 00:00:00
C                    Low
D                 121.99
x                      4
y              0.0509727
Name: 4, dtype: object
5 A    2016-01-06 00:00:00
C                 Medium
D                83.9605
x                      5
y               0.945622
Name: 5, dtype: object
6 A    2016-01-07 00:00:00
C                    Low
D                94.0987
x                      6
y                0.45224
Name: 6, dtype: object
7 A    2016-01-08 00:00:00
C                   High
D                104.826
x                      7
y               0.665492
Name: 7, dtype: object
8 A    2016-01-09 00:00:00
C                    Low
D                97.2886
x                      8
y               0.799171
Name: 8, dtype: object
9 A    2016-01-10 00:00:00
C                 Medium
D                92.2953
x                      9
y               0.902278
Name: 9, dtype: object
10 A    2016-01-11 00:00:00
C                    Low
D                96.2939
x                     10
y              0.0913417
Name: 10, dtype: object
11 A    2016-01-12 00:00:00
C                   High
D                93.9188
x                     11
y               0.484243
Name: 11, dtype: object
12 A    2016-01-13 00:00:00
C                    Low
D                100.489
x                     12
y               0.393246
Name: 12, dtype: object
13 A    2016-01-14 00:00:00
C                   High
D                 109.01
x                     13
y               0.434667
Name: 13, dtype: object
14 A    2016-01-15 00:00:00
C                 Medium
D                104.341
x                     14
y               0.234245
Name: 14, dtype: object
15 A    2016-01-16 00:00:00
C                   High
D                 108.27
x                     15
y               0.828637
Name: 15, dtype: object
16 A    2016-01-17 00:00:00
C                   High
D                89.8516
x                     16
y                0.52958
Name: 16, dtype: object
17 A    2016-01-18 00:00:00
C                 Medium
D                71.8527
x                     17
y               0.604545
Name: 17, dtype: object
18 A    2016-01-19 00:00:00
C                    Low
D                116.269
x                     18
y               0.185068
Name: 18, dtype: object
19 A    2016-01-20 00:00:00
C                    Low
D                100.491
x                     19
y               0.925845
Name: 19, dtype: object

In [23]:
for row in df.itertuples():
    print (row)

Pandas(Index=0, A=Timestamp('2016-01-01 00:00:00'), C='High', D=95.165778646973934, x=0.0, y=0.084521334395262326)
Pandas(Index=1, A=Timestamp('2016-01-02 00:00:00'), C='Low', D=124.03158176928522, x=1.0, y=0.03989871088467023)
Pandas(Index=2, A=Timestamp('2016-01-03 00:00:00'), C='Low', D=87.219723841944329, x=2.0, y=0.51478785834248497)
Pandas(Index=3, A=Timestamp('2016-01-04 00:00:00'), C='Low', D=84.685316016385258, x=3.0, y=0.88676523184167255)
Pandas(Index=4, A=Timestamp('2016-01-05 00:00:00'), C='Low', D=121.98981285010859, x=4.0, y=0.050972699366246932)
Pandas(Index=5, A=Timestamp('2016-01-06 00:00:00'), C='Medium', D=83.960531921008538, x=5.0, y=0.94562213154538932)
Pandas(Index=6, A=Timestamp('2016-01-07 00:00:00'), C='Low', D=94.098653721789205, x=6.0, y=0.45224008822620521)
Pandas(Index=7, A=Timestamp('2016-01-08 00:00:00'), C='High', D=104.82568325108593, x=7.0, y=0.66549180475326575)
Pandas(Index=8, A=Timestamp('2016-01-09 00:00:00'), C='Low', D=97.28862820574011, x=8.0, y=0.79917065214781791)
Pandas(Index=9, A=Timestamp('2016-01-10 00:00:00'), C='Medium', D=92.295274655402508, x=9.0, y=0.90227814521181293)
Pandas(Index=10, A=Timestamp('2016-01-11 00:00:00'), C='Low', D=96.293873212623737, x=10.0, y=0.091341672109696348)
Pandas(Index=11, A=Timestamp('2016-01-12 00:00:00'), C='High', D=93.91884343200995, x=11.0, y=0.48424260346947179)
Pandas(Index=12, A=Timestamp('2016-01-13 00:00:00'), C='Low', D=100.4892644757155, x=12.0, y=0.39324638109920829)
Pandas(Index=13, A=Timestamp('2016-01-14 00:00:00'), C='High', D=109.01012376975008, x=13.0, y=0.43466717548129929)
Pandas(Index=14, A=Timestamp('2016-01-15 00:00:00'), C='Medium', D=104.34116767400587, x=14.0, y=0.2342451777328417)
Pandas(Index=15, A=Timestamp('2016-01-16 00:00:00'), C='High', D=108.26968986977386, x=15.0, y=0.82863745881712647)
Pandas(Index=16, A=Timestamp('2016-01-17 00:00:00'), C='High', D=89.851644472863882, x=16.0, y=0.52958037441503514)
Pandas(Index=17, A=Timestamp('2016-01-18 00:00:00'), C='Medium', D=71.85270079534682, x=17.0, y=0.60454490057126165)
Pandas(Index=18, A=Timestamp('2016-01-19 00:00:00'), C='Low', D=116.26907072088329, x=18.0, y=0.18506837374054774)
Pandas(Index=19, A=Timestamp('2016-01-20 00:00:00'), C='Low', D=100.49124176191792, x=19.0, y=0.92584457447844293)

In [25]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])

sorted_df=unsorted_df.sort_index()
print (sorted_df)

       col2      col1
0  2.246395  1.019663
1 -0.192483  1.850460
2  0.321544 -0.694686
3 -1.235591 -1.060239
4 -1.318198 -1.464894
5  0.189412  1.011145
6 -0.559491  0.933472
7  0.711109  0.280525
8 -0.370065 -0.439854
9  1.773837 -1.134073

In [26]:
sorted_df=unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9  1.773837 -1.134073
8 -0.370065 -0.439854
7  0.711109  0.280525
6 -0.559491  0.933472
5  0.189412  1.011145
4 -1.318198 -1.464894
3 -1.235591 -1.060239
2  0.321544 -0.694686
1 -0.192483  1.850460
0  2.246395  1.019663

In [27]:
sorted_df=unsorted_df.sort_index(axis=1)
print (sorted_df)

       col1      col2
1  1.850460 -0.192483
4 -1.464894 -1.318198
6  0.933472 -0.559491
2 -0.694686  0.321544
3 -1.060239 -1.235591
5  1.011145  0.189412
9 -1.134073  1.773837
8 -0.439854 -0.370065
0  1.019663  2.246395
7  0.280525  0.711109

In [31]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values('col1')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [33]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(['col1','col2'],ascending=False)

print (sorted_df)

   col1  col2
0     2     1
3     1     4
1     1     3
2     1     2

In [34]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1