In [17]:
'''loc takes two single/list/range operator separated by ','. 
The first one indicates the row and the second one indicates columns.'''

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
a  0.938218 -0.491243  0.994178  0.184465
b  0.741894  0.291410  0.517246  0.809042
c -1.520840  0.235622  0.249783 -0.471090
d  1.903386 -0.666342 -0.232651  0.751540
e  1.885721  0.443781  0.693360  1.549884
f -2.862593 -1.293229  0.678105 -0.709276
g -1.967489 -0.447157  0.176480 -0.480945
h  1.097327 -1.240731 -0.102046  0.298177

In [3]:
print(df.loc[:,'A'])

a    0.690395
b   -1.678159
c   -0.403143
d   -0.770828
e    0.306652
f   -0.021574
g    1.513787
h    0.515991
Name: A, dtype: float64

In [6]:
print(df.loc[:,['A','C']])

          A         C
a  0.690395  0.643460
b -1.678159  0.040739
c -0.403143 -0.018621
d -0.770828 -0.272646
e  0.306652  0.286458
f -0.021574  0.233591
g  1.513787 -1.303292
h  0.515991 -0.312607

In [7]:
print(df.loc[['a','e'],['A','C']])

          A         C
a  0.690395  0.643460
e  0.306652  0.286458

In [8]:
print( df.loc['a']>0)

A     True
B    False
C     True
D     True
Name: a, dtype: bool

In [18]:
'''.iloc()
Pandas provide various methods in order to get purely integer based indexing. 
Like python and numpy, these are 0-based indexing.'''
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

          A         B         C         D
0  0.090757  0.321062  0.055699 -1.438512
1 -1.062989  0.993624 -1.495027 -0.051468
2  0.495791 -0.301036 -0.449335  0.632464
3  0.999575  0.570847  0.860154  0.355943

In [19]:
print (df.iloc[0:5, 0:4])

          A         B         C         D
0  0.090757  0.321062  0.055699 -1.438512
1 -1.062989  0.993624 -1.495027 -0.051468
2  0.495791 -0.301036 -0.449335  0.632464
3  0.999575  0.570847  0.860154  0.355943
4  0.760922 -1.391845 -0.756762  0.149696

In [20]:
print( df.iloc[1,1]>0)

True

In [22]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4,5,4])
print (s.pct_change())

df = pd.DataFrame(np.random.randn(5, 2))
print (df.pct_change())
print (df.pct_change(axis=1))

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64
          0          1
0       NaN        NaN
1 -2.201507 -18.196833
2 -1.723469  -1.392988
3  0.379644   2.138893
4 -0.782219  -1.480193
    0         1
0 NaN -0.924092
1 NaN  0.086443
2 NaN -0.409845
3 NaN  0.342690
4 NaN -3.960543

In [23]:
import pandas as pd
import numpy as np
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
print (s1.cov(s2))

0.154144957673

In [25]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print (frame['a'].cov(frame['b']))
print (frame.cov())

-0.00510085909234
          a         b         c         d         e
a  0.572633 -0.005101 -0.008056  0.140118 -0.098797
b -0.005101  1.161171  0.296054  0.134699  0.090919
c -0.008056  0.296054  0.703226 -0.099041  0.099250
d  0.140118  0.134699 -0.099041  1.324631 -0.157687
e -0.098797  0.090919  0.099250 -0.157687  0.712048

In [26]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

print (frame['a'].corr(frame['b']))

print (frame.corr())

0.278673042553
          a         b         c         d         e
a  1.000000  0.278673  0.234381  0.541319 -0.297828
b  0.278673  1.000000  0.582355  0.115619  0.005412
c  0.234381  0.582355  1.000000 -0.291839  0.355327
d  0.541319  0.115619 -0.291839  1.000000 -0.101910
e -0.297828  0.005412  0.355327 -0.101910  1.000000

In [27]:
s = pd.Series(np.random.np.random.randn(5), index=list('abcde'))

s['d'] = s['b'] # so there's a tie

print (s.rank())

a    1.0
b    2.5
c    4.0
d    2.5
e    5.0
dtype: float64

In [29]:
'''.rolling() Function
This function can be applied on a series of data. 
Specify the window=n argument and apply the appropriate statistical function on top of it.'''

df = pd.DataFrame(np.random.randn(10, 4),
index = pd.date_range('1/1/2000', periods=10),
columns = ['A', 'B', 'C', 'D'])

print (df.rolling(window=3).mean())

'''Note âˆ’ Since the window size is 3, for first two elements there are nulls and from third the value will 
be the average of the n, n-1 and n-2 elements. Thus we can also apply various functions as mentioned above.'''

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03 -0.775214  0.049032 -0.112769  0.639800
2000-01-04 -1.196993 -0.436755  0.425897  0.700570
2000-01-05 -1.474059 -0.711747  0.368900 -0.312155
2000-01-06 -0.312836 -0.516355  0.497960  0.839856
2000-01-07  0.156899  0.280085 -0.160295  1.367338
2000-01-08 -0.120011 -0.495326  0.342128  1.515890
2000-01-09 -0.445271 -0.361516  0.429930  0.574755
2000-01-10 -0.656794 -0.357082  0.764565  0.489417

In [30]:
'''expanding() Function
This function can be applied on a series of data. 
Specify the min_periods=n argument and apply the appropriate statistical function on top of it.'''

df = pd.DataFrame(np.random.randn(10, 4),
      index = pd.date_range('1/1/2000', periods=10),
      columns = ['A', 'B', 'C', 'D'])
print (df.expanding(min_periods=3).mean())

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03 -0.913337  0.155405  0.550193  0.122371
2000-01-04 -0.617042  0.323735  0.379648 -0.061534
2000-01-05 -0.444244  0.276287  0.545307 -0.100082
2000-01-06 -0.347482  0.126368  0.247688  0.049866
2000-01-07 -0.370236 -0.190720  0.076042  0.188593
2000-01-08 -0.338809 -0.253120 -0.121077  0.120245
2000-01-09 -0.283883 -0.267650  0.020715 -0.042836
2000-01-10 -0.221057 -0.152129 -0.138484  0.187038

In [31]:
'''ewm is applied on a series of data. Specify any of the com, span,
halflife argument and apply the appropriate statistical function on top of it. It assigns the weights exponentially.'''

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print (df.ewm(com=0.5).mean())

                   A         B         C         D
2000-01-01  0.950533 -0.103910 -2.001636 -0.724095
2000-01-02 -0.074310 -0.346786 -0.712836  1.708802
2000-01-03 -0.867412 -0.611011 -0.697113  0.011630
2000-01-04 -0.213893  0.013386 -0.070020  0.067223
2000-01-05 -0.374372 -0.045533 -0.156622 -1.494818
2000-01-06  0.290784  1.449462  0.919307 -0.100387
2000-01-07  0.954791 -0.744669 -0.115827 -0.105897
2000-01-08  1.503117  0.031778 -0.679975 -0.091906
2000-01-09  0.495979 -1.054553 -0.346743 -0.062245
2000-01-10  0.132111  0.451089  1.234818  0.243534

In [32]:

df = pd.DataFrame(np.random.randn(10, 4),
      index = pd.date_range('1/1/2000', periods=10),
      columns = ['A', 'B', 'C', 'D'])

print (df)

r = df.rolling(window=3,min_periods=1)
print (r)

                   A         B         C         D
2000-01-01  0.260108  0.530836 -1.135196 -1.063080
2000-01-02  0.562371  0.266507 -0.232320 -0.470225
2000-01-03  0.142731 -0.228246 -1.258454 -0.190083
2000-01-04  0.479392  0.666416  0.275441  0.699228
2000-01-05  2.033856 -0.340283 -0.096374 -0.626363
2000-01-06 -0.064008  1.759180  1.656464  0.432259
2000-01-07 -0.860600  0.135698 -0.062125 -0.393205
2000-01-08  0.601320  0.485276 -0.195312 -1.003852
2000-01-09 -0.741317 -0.070630 -0.036523 -0.211565
2000-01-10 -1.334905  1.302707  0.691434 -1.177424
Rolling [window=3,min_periods=1,center=False,axis=0]

In [33]:
df = pd.DataFrame(np.random.randn(10, 4),
      index = pd.date_range('1/1/2000', periods=10),
      columns = ['A', 'B', 'C', 'D'])
print (df)

r = df.rolling(window=3,min_periods=1)
print (r.aggregate(np.sum))

                   A         B         C         D
2000-01-01 -2.364856 -1.235470 -0.038677 -0.972642
2000-01-02 -0.510337 -0.505340 -1.758235 -0.089445
2000-01-03  0.962278 -0.752161  0.378306 -0.148262
2000-01-04 -1.729194 -0.634822 -1.319159 -0.606449
2000-01-05 -0.790633  0.325934 -0.229201  0.053835
2000-01-06 -0.751155  1.014271  1.092663 -1.270451
2000-01-07  0.313371 -1.979664 -0.144766  0.659211
2000-01-08 -0.795138  0.755920 -2.623138  0.976814
2000-01-09  0.639285 -0.875100  1.593694  0.885344
2000-01-10  1.181540  0.101895  0.703720 -0.144965
                   A         B         C         D
2000-01-01 -2.364856 -1.235470 -0.038677 -0.972642
2000-01-02 -2.875194 -1.740810 -1.796912 -1.062087
2000-01-03 -1.912915 -2.492971 -1.418606 -1.210348
2000-01-04 -1.277253 -1.892323 -2.699088 -0.844155
2000-01-05 -1.557549 -1.061048 -1.170053 -0.700875
2000-01-06 -3.270982  0.705384 -0.455697 -1.823065
2000-01-07 -1.228417 -0.639459  0.718696 -0.557405
2000-01-08 -1.232922 -0.209473 -1.675241  0.365574
2000-01-09  0.157518 -2.098843 -1.174210  2.521369
2000-01-10  1.025686 -0.017284 -0.325723  1.717193

In [34]:
df = pd.DataFrame(np.random.randn(10, 4),
      index = pd.date_range('1/1/2000', periods=10),
      columns = ['A', 'B', 'C', 'D'])
print (df)
r = df.rolling(window=3,min_periods=1)
print (r['A'].aggregate(np.sum))

                   A         B         C         D
2000-01-01 -0.010902 -1.212967 -1.170921  0.250304
2000-01-02 -0.083163  0.932968 -1.549378  0.883162
2000-01-03  1.453710 -1.616451  0.349539 -0.331539
2000-01-04 -0.725158  1.425388 -1.351379  0.654752
2000-01-05  0.473852  0.572309 -1.127922 -1.133813
2000-01-06 -0.234990  0.997800  0.326625 -0.327733
2000-01-07 -0.884606  0.147758 -1.298762  0.470427
2000-01-08  0.084759  0.110392 -0.069664 -0.228511
2000-01-09 -0.662992  0.688377 -1.337337 -0.850234
2000-01-10 -0.592802  1.362761 -0.636759  0.868969
2000-01-01   -0.010902
2000-01-02   -0.094065
2000-01-03    1.359645
2000-01-04    0.645389
2000-01-05    1.202404
2000-01-06   -0.486296
2000-01-07   -0.645744
2000-01-08   -1.034837
2000-01-09   -1.462839
2000-01-10   -1.171034
Freq: D, Name: A, dtype: float64

In [35]:
print (r[['A','B']].aggregate(np.sum))

                   A         B
2000-01-01 -0.010902 -1.212967
2000-01-02 -0.094065 -0.280000
2000-01-03  1.359645 -1.896451
2000-01-04  0.645389  0.741904
2000-01-05  1.202404  0.381245
2000-01-06 -0.486296  2.995496
2000-01-07 -0.645744  1.717867
2000-01-08 -1.034837  1.255950
2000-01-09 -1.462839  0.946527
2000-01-10 -1.171034  2.161530

In [36]:
print(r['A'].aggregate([np.sum,np.mean]))

                 sum      mean
2000-01-01 -0.010902 -0.010902
2000-01-02 -0.094065 -0.047032
2000-01-03  1.359645  0.453215
2000-01-04  0.645389  0.215130
2000-01-05  1.202404  0.400801
2000-01-06 -0.486296 -0.162099
2000-01-07 -0.645744 -0.215248
2000-01-08 -1.034837 -0.344946
2000-01-09 -1.462839 -0.487613
2000-01-10 -1.171034 -0.390345

In [37]:
print( r.aggregate({'A' : np.sum,'B' : np.mean}))

                   B         A
2000-01-01 -1.212967 -0.010902
2000-01-02 -0.140000 -0.094065
2000-01-03 -0.632150  1.359645
2000-01-04  0.247301  0.645389
2000-01-05  0.127082  1.202404
2000-01-06  0.998499 -0.486296
2000-01-07  0.572622 -0.645744
2000-01-08  0.418650 -1.034837
2000-01-09  0.315509 -1.462839
2000-01-10  0.720510 -1.171034

In [38]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

print (df['one'].isnull())

        one       two     three
a -0.417576 -1.930552 -0.663528
b       NaN       NaN       NaN
c  0.395271 -0.527392 -0.309685
d       NaN       NaN       NaN
e -0.778673 -0.044540  0.612676
f -0.489944  0.062165 -0.632533
g       NaN       NaN       NaN
h  0.659442  1.383720  0.635372
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [39]:
print (df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [40]:
print (df['one'].sum())

-0.631479191577047

In [41]:
df = pd.DataFrame(index=[0,1,2,3,4,5],columns=['one','two'])
print (df['one'].sum())

nan

In [42]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one',
'two', 'three'])
df = df.reindex(['a', 'b', 'c'])
print (df)
print ("NaN replaced with '0':")
print (df.fillna(0))

        one       two     three
a  1.330639  1.194261 -1.505701
b       NaN       NaN       NaN
c -0.481251 -1.711516  2.384291
NaN replaced with '0':
        one       two     three
a  1.330639  1.194261 -1.505701
b  0.000000  0.000000  0.000000
c -0.481251 -1.711516  2.384291

In [43]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print (df.dropna())

        one       two     three
a -1.013960  0.059222  0.426332
b       NaN       NaN       NaN
c -0.641857  0.569495 -0.800733
d       NaN       NaN       NaN
e -0.474524 -0.133004  0.866709
f -1.704728 -0.042325  1.104565
g       NaN       NaN       NaN
h  0.481406  0.027212  1.100026
        one       two     three
a -1.013960  0.059222  0.426332
c -0.641857  0.569495 -0.800733
e -0.474524 -0.133004  0.866709
f -1.704728 -0.042325  1.104565
h  0.481406  0.027212  1.100026

In [44]:
print (df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

In [45]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})
print (df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60